### 1. Python program to add two numbers

In [1]:
def addition(a,b):
    return a + b

In [2]:
addition(1,5)

6

### 2. Maximum of two numbers in Python

In [20]:
def max_num(a,b):
    if a >= b:
        return a
    else:
        return b

In [21]:
max_num(76,89)

89

In [24]:
a = int(input("a = "))
b = int(input("b = "))

max_num = max(a,b)
print("maximum number = ",max_num)

a = 444
b = 333
maximum number =  444

In [26]:
a = int(input("a = "))
b = int(input("b = "))

max_num = a if a>b else b
print("maximum number = ",max_num)

a = 43
b = 33
maximum number =  43

In [31]:
a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))
max_num = a if a>b and a>c else b if b>c else c
print("maximum number = ",max_num)

a = 2
b = 3
c = 111
maximum number =  111

### 3. Python Program for factorial of a number

In [1]:
def factorial(n):
    fact_sum = 1
    for i in range(1,n+1):
        fact_sum = fact_sum*i
    return fact_sum

In [3]:
factorial(9)

362880

In [4]:
def factorial_r(n):
    return 1 if (n==0 or n==1) else n * factorial_r(n-1)

In [5]:
factorial_r(9)

362880

In [1]:
def factorial_l(n):
    fact = 1
    while n > 1:
        fact = fact * n
        n -= 1
    return fact 

factorial_l(4)

24

### 4. Python Program for simple interest

>Simple Interest = (P x T x R)/100

In [66]:
def calculateSI(p,t,r):
    SI = p*r*t/100
    return SI

In [68]:
calculateSI(4000,2,10)

800.0

### 5. Python Program for simple interest

>A = P(1 + R/100)^t

>Compound Interest = A â€“ P

In [79]:
def calculate_CI(p,t,r):
    amount = p *  (1+r/100)**t         # p * pow((1+r)/100 , t)
    CI = amount - p
    return CI

In [80]:
calculate_CI(1200,2,5.4)

133.0992000000001

### 6. Python Program to check Armstrong Number

In [2]:
def isArmstrongNum(n):
    try:
        num_str = str(n)
        len_number = len(num_str) 
        sum = 0
        for i in num_str:
            sum = sum + (int(i) ** len_number)

        if sum == n:
            return True
        else:
            return False
    except Exception as e:
        print("Error in isArmsrongNum function: ",e)

In [3]:
isArmstrongNum('s')

Error in isArmsrongNum function:  invalid literal for int() with base 10: 's'

In [4]:
isArmstrongNum(153)

True

In [115]:
isArmstrongNum(123)

False

In [117]:
isArmstrongNum(548834)

True

### 7. Python Program for Program to find area of a circle

In [118]:
def area_circle(r):
    return 3.142 * r * r

In [119]:
area_circle(20)

1256.0

In [126]:
from math import pi

def find_area(r):
    return pi * r * r

In [127]:
find_area(20)

1256.6370614359173

### 8. Python program to print all Prime numbers in an Interval

In [31]:
def IsPrimeNumber(start, end):
    l_p = []
    l_np = []
    
    for num in range(start, end):
        flag = False
        for i in range(2,num):
            if (num%i==0):
                flag = True
                break
        if flag:
            l_np.append(num)
        else:
            l_p.append(num)
    print("Prime numbers: ",l_p)
    print("Non-Prime numbers: ",l_np)

In [32]:
IsPrimeNumber(5,30)

Prime numbers:  [5, 7, 11, 13, 17, 19, 23, 29]
Non-Prime numbers:  [6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28]

In [10]:
l =[]
for i in range(0,30):
    IsPrimeNumber(i)

2 is prime number
3 is prime number
4 is prime number
5 is prime number
6 is not a prime number
7 is prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is prime number
12 is not a prime number
13 is prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is prime number
18 is not a prime number
19 is prime number
20 is not a prime number
21 is not a prime number
22 is not a prime number
23 is prime number
24 is not a prime number
25 is not a prime number
26 is not a prime number
27 is not a prime number
28 is not a prime number
29 is prime number

### 9. Python program to check whether a number is Prime or not

In [ ]:
def IsPrimeNumber(num):
    flag = False
    x = num//2
    if num>1:
        for i in range(2,x):
            if (num%i==0):
                flag = True
                break
        if flag:
            print(f"{num} is not a prime number")
        else:
            print(f"{num} is prime number")

### 10. Python Program for n-th Fibonacci series

In [146]:
def genfab(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a ,b = b, a+b
    return output

In [147]:
genfab(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 11. Python Program for How to check if a given number is Fibonacci number?

### 12. Python Program for n\â€™th multiple of a number in Fibonacci Series

### 13.Program to print ASCII Value of a character

In [149]:
def getASCII(s):
    return ord(s)

In [151]:
getASCII('S')

83

In [156]:
def getASCII(s):
    values = []
    for i in s:
        ascii = ord(i)
        values.append(ascii)
    return values

In [157]:
getASCII('abcd')

[97, 98, 99, 100]

### 14. Python Program for Sum of squares of first n natural numbers

In [158]:
def square_sum(n):
    sum = 0
    for i in range(1,n+1):
        sum = sum + (i*i)
    return sum

In [159]:
square_sum(3)

14

In [15]:
def square_sum1(n):
    x = (n*(n+1)*(2*n+1))/6
    return x

In [16]:
square_sum1(3)

14.0

### 15. Python Program for Sum of cubes of first n natural numbers

In [1]:
def cube_sum(n):
    sum = 0
    for i in range(1,n+1):
        sum = sum + (i*i*i)
    return sum

In [3]:
cube_sum(7)

784

In [10]:
def cube_sum1(n):
    x = (n*(n+1)/2)**2
    return x

In [11]:
cube_sum1(7)

784.0