### 1. Python program to interchange first and last elements in a list

In [2]:
def swapPosition1(l):
    size = len(l)
    
    temp = l[0]
    l[0] = l[size-1]
    l[size-1] = temp
    
    return l

In [5]:
l = [15,12,23,45,55,99]
swapPosition1(l)

[99, 12, 23, 45, 55, 15]

In [7]:
def swapPosition2(l):
    l[0], l[-1] = l[-1], l[0]
    return l

In [10]:
swapPosition2(['a','b','c','d','e','f'])

['f', 'b', 'c', 'd', 'e', 'a']

In [15]:
def swapPosition3(l):
    start, *middle, end = l
    l= [end,*middle,start]
    return l

In [16]:
swapPosition3([33,44,55,66,77])

[77, 44, 55, 66, 33]

In [17]:
def swapPosition4(l):
    f_element = l.pop(0)
    l_element = l.pop(-1)
    
    l.insert(0,l_element)
    l.append(f_element)
    
    return l

In [18]:
swapposition4([9,7,5,3,1])

[1, 7, 5, 3, 9]

### 2. Python program to swap two elements in a list

In [38]:
l = [1,3,4,5,6,7,8,3,44,55,33,4,5,6,434,34,45,56,234,90]

def swapElements1(l,pos_1,pos_2):
    temp = l[pos_1-1]
    l[pos_1-1] = l[pos_2-1]
    l[pos_2-1] = temp
    return l

In [39]:
len(l)

20

In [40]:
swapElements1(l,1,20)

[90, 3, 4, 5, 6, 7, 8, 3, 44, 55, 33, 4, 5, 6, 434, 34, 45, 56, 234, 1]

In [35]:
def swapElements2(l,pos_1,pos_2):

    l[pos_1-1],l[pos_2-1] = l[pos_2-1],l[pos_1-1]

    return l

In [36]:
swapElements2([1,2,3,4,5,6,7], 1, 3)

[3, 2, 1, 4, 5, 6, 7]

In [37]:
l = [1,3,4,5,6,7,8,3,44,55,33,4,5,6,434,34,45,56,234,90]

swapElements2(l,2,20)

[1, 90, 4, 5, 6, 7, 8, 3, 44, 55, 33, 4, 5, 6, 434, 34, 45, 56, 234, 3]

In [14]:
def swapElements3(l, pos_1, pos_2):
    
    #Pop both elements from the list
    first_element = l.pop(pos_1-1)
    #print(l)
    second_element = l.pop(pos_2-2)
    #print(l)
    #Insert removed elements
    l.insert(pos_1-1, second_element)
    l.insert(pos_2-1, first_element)
    
    return l

In [15]:
l = [1,2,3,4,5,6,7,8,9]

swapElements3(l,1,4)

[4, 2, 3, 1, 5, 6, 7, 8, 9]

### 3. Python | Ways to find length of list

In [16]:
def findLen(l):
    c = 0
    for i in l:
        c += 1
    return c

In [17]:
l = [1,2,3,4]
findLen(l)

4

In [19]:
print("Length of given list l = " ,len(l))

Length of given list l =  4

### 4. Check if element exists in list in Python

In [36]:
def checkElement1(l,n):
    if n in l:
        return True
    else:
        return False

In [37]:
checkElement1([1,2,3,4,5],6)

False

In [38]:
def checkElement2(l,n):
    exists_count = l.count(n)
    if exists_count > 0:
        return True
    else:
        return False

In [39]:
checkElement2(['a','b','c','d'],'d')

True

### 5. Different ways to clear a list in Python

In [60]:
def clearList1(l):
    for i in range(len(l)):
        l.pop(0)
    return l

In [62]:
clearList1([12,1,3,4])

[]

In [91]:
def clearList2(l,start_index, end_index):
    del l[start_index-1:end_index]
    return l

In [92]:
l = [1,2,3,4,5,6,7,8,9]

clearList2(l,1,3)

[4, 5, 6, 7, 8, 9]

In [93]:
l = [1,2,3,4,5,6,7,8,9]

clearList2(l,1,9)

[]

In [89]:
l = [1,2,3,4,5,6]

def clearList3 (l):
    l.clear()
    return l

In [70]:
clearList3(l)

[]

### 6. Reversing a List in Python

In [100]:
def reverseList1(l):
    output = []
    for i in range(1,len(l)+1):
        output.append(l[-i])
    return output

In [101]:
l = [1,2,3,4,5,6]
reverseList1(l)

[6, 5, 4, 3, 2, 1]

In [103]:
def reverseList2(l):
    return l[::-1]

In [105]:
reverseList2([4,5,6])

[6, 5, 4]

In [119]:
def reverseList3(l):
    l.reverse()
    return l

In [120]:
reverseList3([1,2,3,4])

[4, 3, 2, 1]

In [126]:
def reverseList4(l):
    op = []
    for i in reversed(l):
        op.append(i)
    return op

In [122]:
reverseList4([12,13,14,15])

[15, 14, 13, 12]

In [125]:
def reversedList5(l):
    return [i for i in reversed(l)]

In [127]:
reversedList5([15,16,17,18])

[18, 17, 16, 15]

### 7. Python program to find sum of elements in list

In [1]:
def listSum1(l):
    sum = 0 
    for i in l:
        sum = sum + i
    return sum

In [2]:
listSum1([1,2,3,4])

10

In [3]:
l = []
l.

In [4]:
def listSum2(l):
    return sum(l)

In [5]:
listSum2([1,2,3,4,5,6,7,8,9])

45

In [2]:
def listSum3(list,size):
    if (size == 0):
        return 0
    else:
        return list[size - 1] + listSum3(list,size - 1 )

In [3]:
l1 = [1,2,3,4,5]
total = listSum3(l1,len(l1))
print(total)

15

### 8. Python | Multiply all numbers in the list (4 different ways)

##### 1. Multiply each element by certain number

In [7]:
def listMultiplication1(l,n):
    new_l = []
    for i in range(len(l)):
        v = l[i]*n
        new_l.append(v)
    return new_l

In [8]:
listMultiplication1([23,45,33,44,32,32,21], 2)

[46, 90, 66, 88, 64, 64, 42]

In [11]:
def listMultiplication2(l,n):
    return [l[i]*n for i in range(len(l))]

In [12]:
listMultiplication2([12,13,13,1,4,13,15],3)

[36, 39, 39, 3, 12, 39, 45]

##### 2. Multiplication of list elements

In [17]:
def listMultiplication3(l):
    result = 1
    for i in l:
        result = result*i    
    return result

In [18]:
listMultiplication3([1,2,3,4])

24

In [21]:
import numpy as np
import math

def listMultiply1(l):
    return np.prod(l)

def listMultiply2(l):
    return math.prod(l)

In [22]:
listMultiply1([12,34,22,45])

403920

In [23]:
listMultiply2([1,2,34,23])

1564

### 9. Python program to find smallest number in a list

In [24]:
def min_list(l):
    return min(l)

In [27]:
min_list([233,88,667,9987])

88

In [30]:
def min_list1(l):
    l.sort()
    return l[0]

In [33]:
min_list1([898,6767,545,54,3,776,986,345])

3

In [35]:
def min_list2(l):
    min1 = l[0]
    for i in range(len(l)):
        if l[i] < min1:
            min1 = l[i]
    return min1

In [36]:
min_list2([12,322,24,34,66,34,66,2,21])

2

### 10. Python program to find largest number in a list

In [38]:
def max_list(l):
    return max(l)

In [39]:
max_list([1,2,3,44,5,6,7565,33,4,5])

7565

In [44]:
def max_list1(l):
    l.sort()
    return l[len(l)-1]

In [45]:
max_list1([1,2,3,44,5,6,7565,33,4,5])

7565

In [46]:
def max_list2(l):
    max1 = l[0]
    for i in range(len(l)):
        if l[i] > max1:
            max1 = l[i]
    return max1

In [49]:
max_list2([1,2,3,44,500000,6,7565,33,4,5])

500000

### 11. Python program to find second largest number in a list

In [50]:
def secLargestNum(l):
    l.sort()
    return l[len(l)-2]

In [51]:
secLargestNum([122,344,334,654,2223,3333])

2223

### 12. Python program to find N largest elements from a list

### 13. Python program to print even numbers in a list
### 14. Python program to print odd numbers in a list

In [53]:
def even_odd(l):
    even_num = []
    odd_num = []
    for i in l:
        if i%2 == 0:
            even_num.append(i)
        else:
            odd_num.append(i)
    return even_num, odd_num

In [54]:
even_odd([1,2,3,4,5,6,7,8,9,0])

([2, 4, 6, 8, 0], [1, 3, 5, 7, 9])

### 15. Python program to print even numbers in a range
### 16. Python program to print odd numbers in a range

In [62]:
def even_odd2(start,end):
    even_num = []
    odd_num = []
    for i in range(start, end+1):
        if i%2 == 0:
            even_num.append(i)
        else:
            odd_num.append(i)
    return even_num, odd_num

In [63]:
even_odd2(1,10)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

### 17. Python program to print positive numbers in a list
### 18. Python program to print negative numbers in a list

In [68]:
def numbers(l):
    positive_num = []
    negative_num = []
    for i in l:
        if i >= 0:
            positive_num.append(i)
        else:
            negative_num.append(i)
    return positive_num, negative_num

In [69]:
numbers([0,9,-2,0,3-4,-6,-9,37,0,-87])

([0, 9, 0, 37, 0], [-2, -1, -6, -9, -87])

In [70]:
def numbers2(l):
    pos_num = [i for i in l if i>0]
    neg_num = [i for i in l if i<0]
    return pos_num, neg_num

In [71]:
numbers2([1,-2,3,-4,5,-6,9,-20])

([1, 3, 5, 9], [-2, -4, -6, -20])

### 19. Python program to print positive numbers in a range

### 20. Python program to print positive numbers in a range

In [72]:
def numbers3(start,end):
    positive_num = []
    negative_num = []
    for i in range(start, end+1):
        if i >= 0:
            positive_num.append(i)
        else:
            negative_num.append(i)
    return positive_num, negative_num

In [73]:
numbers3(-9,10)

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [-9, -8, -7, -6, -5, -4, -3, -2, -1])

In [74]:
def numbers4(start,end):
    pos_num = [i for i in range(start, end+1) if i>0]
    neg_num = [i for i in range(start, end+1) if i<0]
    return pos_num, neg_num

In [75]:
numbers4(-11,5)

([1, 2, 3, 4, 5], [-11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1])

### 21. Remove empty List from List

In [14]:
def removeEmptyList(l):
    try:
        for i in l:
            if type(i)==list:
                if len(i)==0:
                    l.remove(i)
        return l
    except Exception as e:
        print("Exception in function : ",e)

In [15]:
removeEmptyList([1,2,[],3,45,65,[],4,[],444,[]])

[1, 2, 3, 45, 65, 4, 444]

In [16]:
def removeEmptyList1(l):
    try:
        l = [i for i in l if i != []]
        return l
    except Exception as e:
        print("Exception in function : ",e)

In [17]:
removeEmptyList1([1,2,[],34,54,[],2,322,[],12,[],323])

[1, 2, 34, 54, 2, 322, 12, 323]

In [18]:
def removeEmptyList2(l):
    try:
        result = list(filter(None,l))
        return result
    except Exception as e:
        print("Exception in function : ",e)

In [19]:
removeEmptyList2([1,2,[],34,54,[],2,322,[],12,[],323])

[1, 2, 34, 54, 2, 322, 12, 323]

### 22. Cloning or Copying a list

In [21]:
#Slice
def copy_list(l):
    l_copy = l[:]
    return l_copy

In [22]:
copy_list([1,2,3,4,5,6,7])

[1, 2, 3, 4, 5, 6, 7]

In [24]:
#List comprehenssion
def copy_list1(l):
    l_copy = [i for i in l]
    return l_copy

In [25]:
copy_list1([1,4,88,4,24,46,24,67,67,24,89,3435])

[1, 4, 88, 4, 24, 46, 24, 67, 67, 24, 89, 3435]

In [42]:
#extend()
def copy_list2(l):
    l_copy = []
    l_copy.extend(l)
    return l_copy

In [43]:
copy_list2([1,4,5,344])

[1, 4, 5, 344]

In [50]:
#append()
def copy_list3(l):
    l_copy = []
    for i in l:
        l_copy.append(i)
    return l_copy

In [51]:
copy_list3([1,2,3,4,5,6,7,8,0])

[1, 2, 3, 4, 5, 6, 7, 8, 0]

In [52]:
#list method
def copy_list4(l):
    l_copy = list(l)
    return l_copy

In [53]:
copy_list4([90,98,78])

[90, 98, 78]

In [54]:
#copy method
def copy_list5(l):
    l_copy = []
    l_copy = l.copy()
    return l_copy

In [58]:
l = [2233,4555,'e','t']
copy_list5(l)

[2233, 4555, 'e', 't']

In [7]:
l = [1,2,3,4]

In [8]:
a = l.pop(2)

In [10]:
a

8

In [11]:
l1 = [1,2,3,4]

In [12]:
b = l1.remove(2)

In [13]:
print(b)

None

### 23. Remove duplicate elements from list

In [26]:
def remove_dup(input_list):
    try:
        
        final_list = []
        for num in input_list:
            if num not in final_list:
                final_list.append(num)
        return final_list
    except Exception as e:
        print("Exception : ",e)

In [27]:
remove_dup([1,2,2,4,2,4,2,2,3,1,2,3,5,6,1,2,4,5,5,3,3,2,2,3,4,5,2,3])

[1, 2, 4, 3, 5, 6]

In [28]:
def remove_dup2(input_list):
    return list(set(input_list))

In [29]:
remove_dup2([1,2,2,4,2,4,2,2,3,1,2,3,5,6,1,2,4,5,5,3,3,2,2,3,4,5,2,3])

[1, 2, 3, 4, 5, 6]

### 24. Python | Remove empty tuples from a list

In [34]:
def removeEmptyTuple(l):
    for i in l:
        if type(i) == tuple:
            if len(i) == 0:
                l.remove(i)
    return l

In [35]:
removeEmptyTuple([(),7,89,66,45,(),(224,67),(),(456,8,990)])

[7, 89, 66, 45, (224, 67), (456, 8, 990)]

In [49]:
def removeEmptyTuple1(l):
    l = filter(None,l)
    return [i for i in l]

In [50]:
removeEmptyTuple1([(),7,89,66,45,(),(224,67),(),(456,8,990)])

[7, 89, 66, 45, (224, 67), (456, 8, 990)]

### 25. Python | Count occurrences of an element in a list

In [66]:
def count(l):
    count_list = []
    temp = list(set(l))
    for i in temp:
        count = l.count(i)
        count_list.append(count)
    return  (temp,count_list)

In [67]:
count([1,2,3,4,1,3,3,1,2,4,5,6,7,4,3,5,67,4,3])

([1, 2, 3, 4, 5, 6, 7, 67], [3, 2, 5, 4, 2, 1, 1, 1])

In [2]:
def Length_of_string(n):
    """function returns length of string without using inbuilt function"""
    l=[]
    if type(n)==str:
        for i,j in enumerate(n):
            l.append(i)
    else:
        print("you have not entered string")
    return max(l)+1

In [3]:
Length_of_string('ashish')

6

In [24]:
def lenght_string(n):
    try:
        count = 0
        for i in n:
            count += 1
        return count
    except Exception as e:
        print("Error in length_string function\nError msg: ",e)

In [25]:
lenght_string('ashish')

6

In [23]:
lenght_string(9009)

Error in length_string function
Error msg:  'int' object is not iterable

In [36]:
def check_div(n):
    s = str(n)
    digit_sum = 0
    for i in range(len(s)):
        digit_sum = digit_sum + int(s[i])
    if digit_sum%3 == 0:
        print("Number is divisible by 3")
    else:
        print("Number is not divisible by 3")

In [39]:
check_div(18)

Number is divisible by 3